# ====================================================================
# Project Specific (OWASP ZAP Reports & Automation)
# ====================================================================
report.html
*.log

# ====================================================================
# Visual Studio Code
# ====================================================================
.vscode/
*.code-workspace
.history/

# ====================================================================
# Docker
# ====================================================================
.dockerignore
.env
.env.local

# ====================================================================
# Operating System Garbage Files (Windows & Linux)
# ====================================================================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ====================================================================
# Python Framework Artifacts (OWASP ZAP Core Dependencies)
# ====================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/